.container{
    width:40%;
    margin-top:50px;
    background-color:#012727d7;
    border:none;
    padding:30px;
    border-radius:10px;
}
h2{
    text-align: center;
    color: white;
}
.form-group{
    display: flex;
    flex-direction: row;
    margin:20px;
    width: auto;
}
button{
    margin-left:10px;
    background-color:transparent;
    color:white;
    border-radius:5px;
    padding:10px;
    width:20%;
    font-weight: bold;
    cursor: pointer;
}
.list{
    margin-top:30px !important;
}
li{
    margin-bottom:15px;
    margin-left:-12px;
    background-color: rgb(255, 255, 255);
    color:rgb(255, 80, 80);
    border-radius:10px;
    list-style-type: none;
    border-radius:5px;
    padding:10px;
    display: flex;
}
.list-item-list{
    flex:1;
    font-size:20px;
    font-weight: bold;
}
.list-item-icons{
    padding-left: 5px;
    font-size:30px;
    cursor: pointer;
}
#done{
    padding-right:10px;
    width:35px;
    color: #007e06;
}
#delete{
    color: rgb(248, 87, 87);
}
#edit{
    color: rgb(57, 57, 252);
}
#list-item{
    text-decoration: line-through;
    color: #007e06;
    opacity:0.7;
}
